@import "../scss/foundation/base";
@import "../scss/foundation/mixin";
@import "../scss/foundation/reset";
@import "../scss/foundation/setting";
@import "../scss/layout/footer";
@import "../scss/layout/header";
@import "../scss/layout/main";
@import "../scss/layout/sidber";
@import "../scss/object/component/button";
@import "../scss/object/component/icon";
@import "../scss/object/component/list";
@import "../scss/object/project/articles";
@import "../scss/object/project/ranking";
@import "../scss/object/utility/display";
@import "../scss/object/utility/margin";
@import "../scss/object/utility/text";
@import "../scss/style.css";


.p-header1 {
    padding: 20px 15px;
    background-color: bisque;
    justify-content: space-between;
    display: flex;
    color: bisque;
  }
  
  .p-header-title {
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .p-header-search {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 10px;
    width: 396px;
    height: 46px;
    font-size: 25px;
  }
  
  .p-header-submit {
    border-radius: 10px;
    width: 136px;
    height: 46px;
    padding: 15px;
  }
  .footer {
    display: flex;
    flex-direction: column;
}
  
  .l-sidber{
      background-color: bisque;
  }
  .l-sidber-title {
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 82px 235px 85px 45px;
  }
  
  .l-sidber-category {
    font-size: 24px;
    font-weight: bold;
    padding: 217px 170px 40px 46px;
  }
  
  .l-sidber-menu{
    font-size: 20px;
    padding: 23px 121px 23px 66px;
  }
  
  .l-sidber-menu-menu {
    padding-top: 37px;
  }
  .l-header {
    display: flex;
  }
  
  .main {
    justify-content: space-between;
    padding: 35px;
  }
  
  .l-left {
    padding-left: 111px;
    padding-right: 80px;
  }
  
  .p-main-right {
    width: 40%;
    height: 1196px;
  }
  
  .p-main-maps {
    position: relative;
  }
  
  .p-mani-block {
    background-color: #707070;
    width: 61%;
    height: 452px;
    position: absolute;
    top: 0;
    opacity: 0.7;
  }
  
  .p-main-heading {
    position: absolute;
    top: 30px;
    left: 120px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .p-main-text {
    position: absolute;
    top: 140px;
    left: 110px;
    font-size: 16px;
    font-weight: bold;
    width: 500px;
    height: 400px;
    color: #ffffff;
    line-height: 30px;
  }