/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.box {
  display: flex;
}

.l-header {
  width: 100%;
}

.p-header {
  padding: 19px 16px;
  background-color: bisque;
  justify-content: space-between;
  display: flex;
}

.p-header__title {
  text-align: center;
  vertical-align: middle;
  margin-top: 1%;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.p-header__form {
  display: flex;
  padding: 1%;
  width: 50%;
}

.p-header__search {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 10px;
  width: 73%;
  padding-left: 3%;
  font-size: 1.5rem;
}

.p-header__submit {
  border-radius: 10%;
  width: 24%;
  margin-left: 3%;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 5rem;
  font-family: 'Roboto';
  font-weight: bold;
}

.main {
  justify-content: space-between;
  padding: 35px;
}

.l-main__img-box {
  display: flex;
  width: 100%;
  padding: 70px;
  box-sizing: border-box;
}

.l-main__img__left {
  background-image: url(/img/front-main1.png);
  width: 42%;
  margin-right: 20px;
}

.l-main__img__right {
  background-image: url(/img/front-main2.png);
  width: 42%;
  margin-left: 20px;
}

.p-box {
  margin-top: 680px;
}

.p-box__take-out {
  background-color: white;
  padding: 10px;
  margin-bottom: 15px;
}

.p-box__take-out h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.l-main__maps {
  top: 0px;
  position: relative;
}

.l-main__maps iframe {
  top: 89px;
}

.l-main__block {
  background-color: #707070;
  width: 61%;
  position: absolute;
  padding: 9%;
  top: 1px;
  opacity: 0.7;
}

.p-main__heading {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

.p-main__text {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  color: #ffffff;
  line-height: 30px;
}

.l-sidber {
  background-color: bisque;
  width: 27%;
}

.p-sidber__title {
  font-size: 2.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 45px 0px 35px 40px;
}

.p-sidber__category {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 40px 20px;
}

.p-sidber__menu {
  font-size: 1.2rem;
  padding: 45px 0px 25px 29px;
}

.p-sidber__menu__menu {
  padding-top: 37px;
}

.footer {
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=style.css.map */