/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.l-header {
  width: 100%;
}

.p-header {
  padding: 20px 15px;
  background-color: bisque;
  justify-content: space-between;
  display: flex;
}

.p-header__title {
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.p-header__search {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 10px;
  width: 396px;
  height: 46px;
  font-size: 1.5rem;
}

.p-header__submit {
  border-radius: 10px;
  width: 136px;
  height: 46px;
  padding: 15px;
}

h2 {
  font-size: 5rem;
  font-family: 'Roboto';
  font-weight: bold;
}

.main {
  justify-content: space-between;
  padding: 35px;
}

.l-main__img-box01 {
  display: flex;
}

.l-main__img__left {
  background-image: url(/img/front-main1.png);
  height: 1112px;
  width: 555px;
}

.l-main__img__right {
  background-image: url(/img/front-main2.png);
  height: 1112px;
  width: 555px;
}

.p-box {
  position: relative;
}

.p-box__take-out {
  background-color: white;
}

.p-box__take-out h4 {
  margin: 679px 370px 354px 39px;
}

.l-main__maps {
  position: relative;
}

.p-mani__block {
  background-color: #707070;
  width: 61%;
  opacity: 0.7;
}

.p-main__heading {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

.p-main__text {
  font-size: 1rem;
  font-weight: bold;
  width: 500px;
  height: 400px;
  color: #ffffff;
  line-height: 30px;
}

.l-sidber {
  background-color: bisque;
}

.p-sidber__title {
  font-size: 2.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 82px 235px 85px 45px;
}

.p-sidber__category {
  font-size: 24px;
  font-weight: bold;
  padding: 217px 170px 40px 46px;
}

.p-sidber__menu {
  font-size: 20px;
  padding: 23px 121px 23px 66px;
}

.p-sidber__menu__menu {
  padding-top: 37px;
}

.footer {
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=style.css.map */