// .p-rankingのクラス名　サイト固有のまとまりを定義してパターン化するパーツ。案件に応じて追加していくパーツです。
.p-header{
    padding: 19px 16px;
    background-color: #FFF7EF;
    justify-content: space-between;
    display: flex;
    @include tab{
      position: relative;
      padding: 120px 16px;
    }
    @include sp{
      padding:98px 0;
      flex-direction: column;
      position: relative;
    }
  }
  
  .p-header__title {
      text-align: center;
      vertical-align: middle;
      margin-top: 1%;
      font-size: 4rem;
      font-weight: bold;
      @include tab{
        position: absolute;
        top: 15%;
        left: 30%;
    }
      @include sp{
        font-size: 2.5rem;
        margin-bottom: 38px;
        top: 18%;
        left: 21%;
      }

      }
      .p-header__title a{
        color: #707070;
        text-decoration: none;
      }
      
  
  .p-header__sp-title{
    display: none;
    @include tab{
      display: block;
      font-size: 2.1rem;
      position: absolute;
      right: 18px;
      top: 14px;
      color: #707070;
    }
    @include sp{
      font-size: 1.25rem;
      font-weight: bold;
      display: block;
      position: absolute;
      top: 14px;
      left: 83%;
      color: #707070;
    }
  }
  .batsu{
    display: none;
    @include tab{
      display: block;
      width: 50px;/*枠の大きさ*/
      height: 50px;/*枠の大きさ*/
      position: fixed;
      top: 8px;
      right: 12px;
      margin: 0 0 0 auto;
      &::before, &::after{
        content: "";
        display: block;
        width: 100%;/*バツ線の長さ*/
        height: 10px;/*バツ線の太さ*/
        background: #707070;
        transform: rotate(45deg);
        transform-origin:0% 50%;
        position: absolute;
        top: calc(14% - 5px);
        left: 14%;
    }
    
    &::after{
        transform: rotate(-45deg);
        transform-origin:100% 50%;
        left: auto;
        right: 14%;
    }
  }
    @include sp{
        display: block;
        width: 50px;/*枠の大きさ*/
        height: 50px;/*枠の大きさ*/
        position: relative;
        position: fixed;
        top: 9px;
        margin: 1px;
        &::before, &::after{
          content: "";
          display: block;
          width: 100%;/*バツ線の長さ*/
          height: 10px;/*バツ線の太さ*/
          background: #000;
          transform: rotate(45deg);
          transform-origin:0% 50%;
          position: absolute;
          top: calc(14% - 5px);
          left: 14%;
      }
      
      &::after{
          transform: rotate(-45deg);
          transform-origin:100% 50%;
          left: auto;
          right: 14%;
      }
    }
  
    
   
  }
  
      .p-header__form{
      display: flex;
      padding: 1%;
      width: 50%;
      @include tab{
        position: absolute;
        width: 71%;
        top: 59%;
        left: 16%;
      }
     
      @include sp{
        position: absolute;
        top: 64%;
        left: 8%;
        width: 83%;
      }
      }
    .p-header__search {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border-radius: 0.6rem;
      width: 73%;
      padding-left: 3%;
      font-size: 1.5rem;
      border: 1px solid #333;
      height: 46px;
      margin-top: 8px;
    }
    .p-header__submit {
      border-radius: 0.6rem;
      width: 24%;
      margin-left: 3%;
      border: 1px solid #333;
      height: 46px;
      margin-top: 8px;
    }
    

    