// header,footer,.l-が頭文字にくる
// @import url(/css/style.css);
@import "../scss/style.css";

.p-header1 {
    padding: 20px 15px;
    background-color: bisque;
    justify-content: space-between;
    display: flex;
  }
  
  .p-header2 {
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .p-header4 {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 10px;
    width: 396px;
    height: 46px;
    font-size: 25px;
  }
  
  .p-header5 {
    border-radius: 10px;
    width: 136px;
    height: 46px;
    padding: 15px;
  }
  