// header,footer,.l-が頭文字にくる

.box{
  display: flex;
}

.l-header{
  width: 100%;
}

.p-header {
    padding: 19px 16px;
    background-color: bisque;
    justify-content: space-between;
    display: flex;
  }
  .p-header__title {
    text-align: center;
    vertical-align: middle;
    margin-top: 1%;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .p-header__form{
    display: flex;
    padding: 1%;
    width: 50%;
  }

  
  .p-header__search {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 10px;
    width: 73%;
    padding-left: 3%;
    font-size: 1.5rem;
  }
  
  .p-header__submit {
    border-radius: 10%;
    width: 24%;
    margin-left: 3%;
  }
  

  
  


  