img{
  width: 100%;
  height: auto;
}
h2{
  font-size: 5rem;
  font-family: 'Roboto';
  font-weight: bold;
}


.main {
  justify-content: space-between;
  padding: 35px;
}

.l-main__img-box {
  display: flex;
  width: 100%;
  padding: 70px;
  box-sizing: border-box;
}


.l-main__img__left{
  background-image: url(/img/front-main1.png);
  width: 42%;
  margin-right: 20px;
}



.l-main__img__right{
  background-image: url(/img/front-main2.png);
  width: 42%;
  margin-left: 20px;
}

.p-box{
 margin-top: 680px;
}




.p-box__take-out{
  background-color: white;
  padding: 10px;
  margin-bottom: 15px;
}
.p-box__take-out h4{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;;
}
  

.l-main__maps {
  top: 0px;
  position: relative;
  iframe{
    top: 89px;
  }
}

.l-main__block {
  background-color: #707070;
  width: 61%;
  position: absolute;
  padding: 9%;
  top: 1px;
  opacity: 0.7;
}

.p-main__heading {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

.p-main__text {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  color: #ffffff;
  line-height: 30px;
}




// ここからarchiveです

.l-main__title{
  height: 239px;
  background-image: url(/img/archive-img.png);
  display: flex;
  align-items: center;
  
}
.l-main__title h3{
  font-size: 3.7rem;
  font-weight: bold;
  margin-left: 100px;
}
.l-main__title h6{
  font-size: 1rem;
  font-weight: bold;
}

.l-main__content--title{
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 100px;
}

.l-main__content--text{
  font-size: 1rem;
  margin: 25px 0 70px 100px;
  // marginbottom効かない
  
}
.menu__content{
  display: flex;
  margin: 70px 30px
}
 .menu__content--img{
   flex: 1;
 }
//  &--img sass効かない
 

.menu__content--text{
  background-color: #3C2B1C;
  padding-left: 63px;
  flex: 1;
  h3{
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    margin-top: 53px;
    
  }
  h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 47px;
  }
  p{
    font-size: 1rem;
    color: white;
    margin-top: 17px;
    padding-right: 5px
  }
  a{
    text-decoration: none;
    display: block;
    border-radius: 40px;
    padding: 16px 20px;
    color: #707070;
    background-color: white;
    box-sizing: border-box;
    width: 40%;
    height: 55px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    left: 95px;
  }
}
.p-pagenation{
  display: flex;
  justify-content: center;
  position: relative;
  top: -28px;
}

.p-pagenation li{
  display: inline;
  padding:10px 15px;
  border:1px #ccc solid;color:#000053;
  border-radius: 5px / 5px;
}
.this{
  border: 0px none;
}

// ここからsingle-pageです

.l-main__single__title{
  background-image: url(/img/single-header.png);
  width: 100%;
  height: 239px;
  display: flex;
  align-items: center;
}

