img{
  width: 100%;
  height: auto;
}
h2{
  font-size: 5rem;
  font-family: 'Roboto';
  font-weight: bold;
}


.main {
  justify-content: space-between;
  padding: 35px;
}

.l-main__img-box {
  display: flex;
  width: 100%;
  padding: 70px;
  box-sizing: border-box;
  @include sp{
    padding: 20px;
    display: inline-block;
  }
  .l-main__img__left{
    background-image: url(/img/front-main1.png);
    width: 42%;
    margin-right: 20px;
    @include sp{
      width: 81%;
      margin-left: 18px;
    }
  }
  .l-main__img__right{
    background-image: url(/img/front-main2.png);
    width: 42%;
    margin-left: 20px;
    @include sp{
      width: 81%;
      margin-top: 20px;
    }
  }
}


.l-main__maps {
  top: 0px;
  position: relative;
  iframe{
    top: 89px;
  }
}

.l-main__block {
  background-color: #707070;
  width: 61%;
  position: absolute;
  padding: 9%;
  top: 1px;
  opacity: 0.7;
  @include sp{
    padding: 2%;
  }
}





// ここからarchiveです

.l-main__title{
  height: 239px;
  width: 82vw;
  background-image: url(/img/archive-img.png);
  display: flex;
  align-items: center;
  @include sp{
    width: 100%;
  }
  h3{
    font-size: 3.7rem;
    font-weight: bold;
    margin-left: 100px;
    @include sp{
      position: absolute;
      top: 358px;
      right: 360px;
      font-size: 2.25rem;
    }
  }
  h6{
    font-size: 1rem;
    font-weight: bold;
    @include sp{
      position: absolute;
      top: 401px;
      left: 76px;
    }
  }
  
}
.l-main__content{
  margin: 0 100px;
  @include sp{
    margin: 30px 20px 30px 20px;
  }
  &__title{
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 60px;
    @include sp{
      font-size: 1.75rem;
      margin-top: 30px;
     
    }
  }
  &__text{
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 20px;
    @include sp{
      margin: 30px 18px 19px 22px;
      line-height: 1.5;
    }
  }
}






.menu__content{
  display: flex;
  margin-top: 30px;
  @include sp{
   flex-direction: column;
   margin-top: 21px ;
  }
}
 .menu__content__img{
   width: 50%;
   box-sizing: border-box;
   @include sp{
     width: 85%;
   }
  img{
      height: 100%;
      @include sp{
      margin-left: 40px;
    }
  }
 }
//  &__img sass効かない
 

.menu__content__text{
  background-color: #3C2B1C;
  padding-left: 33px;
  padding-right: 45px;
  width: 50%;
  box-sizing: border-box;
  @include sp{
    padding-left: 22px;
    width: 85%;
    margin-left: 40px;
 }
  h3{
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    margin-top: 53px;
    @include sp{
      font-size: 1.25rem;
    }
    
  }
  h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 47px;
    @include sp{
      font-size: 1rem;
    }
  }
  p{
    font-size: 1rem;
    color: white;
    margin-top: 17px;
    margin-bottom: 60px;
    padding-right: 5px;
    line-height: 1.4;
  }
  a{
    text-decoration: none;
    display: block;
    border-radius: 40px;
    padding: 16px 20px;
    margin-bottom: 60px;
    color: #707070;
    background-color: white;
    box-sizing: border-box;
    width: 40%;
    height: 55px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    left: 95px;
    @include sp{
      margin-bottom: 70px;
    }
  }
}


.this{
  border: 0px none;
}


// ここからsingle-pageです

.l-main__single__title{
  background-image: url(/img/single-header.png);
  width: 88vw;
  height: 490px;
  display: flex;
  align-items: center;
  background-size: cover;
  @include sp{
    width: 100%;
  }
  h1{
    font-size: 3.7rem;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    @include sp{
      font-size: 2.25rem;
      padding-left: 26px;
    }
  }
}





table{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 60px; 
 td, th{
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}}

.table__th{
  width: 30%;
  padding: 8px;
  text-align: left;
}

.table__td1{
  width: 70%;
  padding: 8px;
}

// .table__td{
//   width: 30%;
// }

// .table__td1{
//   width: 70%;
// }


// インライン要素だから直接button(css)にかく必要がある





// ここからpageです

.l-main__page__title{
  background-image: url(/img/page-header.png);
  width: 88vw;
  height: 490px;
  display: flex;
  align-items: center;
  h1{
    font-size: 3.7rem;
    font-weight: bold;
    color: white;
  }
}