.l-sideber {
  background-color: #F2EDE9;
  width: 27%;
  
}

.p-sideber__title {
  font-size: 2.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 45px 0px 35px 40px;
}

.p-sideber__category {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 40px 20px;
}

.p-sideber__menu {
  font-size: 1.2rem;
  padding: 45px 0px 25px 29px;
}

.p-sideber__menu__menu {
  padding-top: 37px;
}