.l-sidber {
  background-color: bisque;
  
}

.p-sidber__title {
  font-size: 2.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 82px 235px 85px 45px;
}

.p-sidber__category {
  font-size: 24px;
  font-weight: bold;
  padding: 217px 170px 40px 46px;
}

.p-sidber__menu {
  font-size: 20px;
  padding: 23px 121px 23px 66px;
}

.p-sidber__menu__menu {
  padding-top: 37px;
}