.l-sideber {
  background-color: #F2EDE9;
  width: 70%;
  @include sp{
    display: none;
  }
  
}


// .l-sideber__single{
//   background-color: #F2EDE9;
//   width: 100%;
//   @include sp{
//     display: none;
//   }
// }